@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../assets/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fffafa;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 830px;
  max-width: 100%;
}
.wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.wrapper header .bg {
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.wrapper header.mega-menu-active .bg {
  background-color: #ffffff;
}
.wrapper header .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #3c3c3c !important;
  transition: color 0.5s ease-in-out;
}
.wrapper header .logo {
  padding-top: 0.625rem;
}
.wrapper header .dropdown-toggle::after {
  content: none;
}
.wrapper header .dropdown-menu {
  border: none;
  background-color: #fff;
}
.wrapper header .sub-title li {
  list-style: none;
}
.wrapper header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .navbar-nav .nav-item .nav-link:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header a:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .transparent-navbar {
  background-color: transparent;
}
.wrapper header .bg-nav {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .wrapper header .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1001;
    overflow-y: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wrapper header .navbar-collapse .logo {
    margin-bottom: 1rem;
  }
  .wrapper header .navbar-collapse .logo img {
    max-height: 50px;
    width: auto;
  }
  .wrapper header .navbar-collapse .sub-title {
    padding-left: 20.5rem;
  }
  .wrapper header .navbar-collapse .navbar-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #3c3c3c !important;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .wrapper header .navbar-collapse.show {
    transform: translateY(0);
    opacity: 1;
  }
}
@media all and (min-width: 992px) {
  .wrapper header .dropdown-menu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  }
  .wrapper header .dropdown-menu.mega-menu {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .wrapper header .nav-item.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .wrapper header .navbar-light .navbar-nav .nav-link {
    padding-right: 1.875rem;
  }
  .wrapper header .mega-submenu {
    left: 100%;
    top: 0;
    min-width: 25rem;
  }
  .wrapper header .ktm-mega-menu {
    position: static;
  }
  .wrapper header .sub-title {
    position: relative;
    left: 66.5%;
  }
  .wrapper header .m-logo {
    display: none;
  }
}
.wrapper .main-banner {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 650px;
  background-image: url("../images/contact_main_img.png");
}
.wrapper .main-banner .main_title h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 140%;
  margin: 0;
  letter-spacing: 0.03em;
}
.wrapper .main-banner .main_title p {
  color: #fff;
  font-weight: 500;
  padding-top: 1.875rem;
  font-size: 1.563rem;
  letter-spacing: 0.03em;
}
.wrapper .main-banner .main_content {
  padding: 0;
  position: relative;
  z-index: 1;
}

.sec02 .sec02_title {
  margin-top: 12.5rem;
  text-align: center;
  margin-bottom: 12.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 3.625rem;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #3c3c3c;
}
.sec02 .sec02_sub_title {
  background-image: url("../images/contact_sub_img.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.sec02 .sec02_sub_title h1 {
  font-size: 2.375rem;
  color: #fff;
  line-height: 160%;
  font-weight: 600;
  padding: 3.188rem 1.5rem 0 2.313rem;
}
.sec02 .sec02_sub_title p {
  font-size: 1.375rem;
  color: #fff;
  line-height: 160%;
  font-weight: 400;
  padding: 1rem 1.5rem 0 2.313rem;
}
.sec02 .contact_content_right {
  border: 1px solid rgba(153, 153, 153, 0.4);
  background-color: #fffafa;
  border-radius: 10px;
  padding: 3.125rem 3.125rem;
}
.sec02 .btn-square {
  border: 1px solid rgb(22, 102, 66);
  border-radius: 3.125rem;
  padding: 1.438rem 4.625rem;
  background: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sec02 .btn-square:hover {
  background-color: #166642;
}
.sec02 .btn-square:hover .btn-square__text {
  color: #fff;
}
.sec02 .form_box__title {
  margin-bottom: 0.625rem;
  margin-top: 1.063rem;
}
.sec02 .form_box__title p {
  font-size: 1.125rem;
  line-height: 140%;
  font-weight: 600;
  color: #545756;
}
.sec02 #name {
  width: 526px;
  height: 65px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding-left: 1.5rem;
  font-weight: 500;
  font-size: 0.938rem;
}
.sec02 #phone_number {
  width: 526px;
  height: 65px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding-left: 1.5rem;
  font-weight: 500;
  font-size: 0.938rem;
}
.sec02 #e-mail {
  width: 526px;
  height: 65px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding-left: 1.5rem;
  font-weight: 500;
  font-size: 0.938rem;
}
.sec02 #company {
  width: 526px;
  height: 65px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding-left: 1.5rem;
  font-weight: 500;
  font-size: 0.938rem;
}
.sec02 #content {
  width: 526px;
  height: 65px;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding-left: 1.5rem;
  padding-top: 1.375rem;
  font-weight: 500;
  font-size: 0.938rem;
  overflow-y: scroll;
  resize: none;
}
.sec02 .inquiry_btn {
  padding: 2rem 9.375rem;
}
.sec02 .btn-square__text {
  color: #166642;
  font-weight: 600;
  font-size: 1.375rem;
}
.sec02 input::placeholder {
  color: #999999;
}
.sec02 textarea::placeholder {
  color: #999999;
}
.sec02 span {
  color: #166642;
}
.sec02 .terms__box {
  height: 100px;
  overflow-y: scroll;
  margin-top: 1.063rem;
  margin-bottom: 1.25rem;
}
.sec02 .terms__agree {
  gap: 0.313rem;
}
.sec02 .terms__agree input[type=checkbox] {
  accent-color: #1c6343;
}

.footer_container {
  margin-top: 12.5rem;
}
.footer_container .footer_text {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 1.875rem;
}
.footer_container .footer_img img {
  max-width: 100%;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.938rem;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1c6343;
}

@media (max-width: 768px) {
  .wrapper .main-banner {
    max-width: 100%;
    height: 500px;
  }
  .wrapper .main-banner .main_title h1 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
  }
  .wrapper .main-banner .main_title p {
    font-weight: 200;
    padding-top: 1rem;
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .wrapper .main-banner .main-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .wrapper .sec02 .sec02_title {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 2.188rem;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #3c3c3c;
  }
  .wrapper .sec02 .sec02_sub_title {
    background-image: url("../images/contact_sub_img.png");
    background-repeat: no-repeat;
    width: 80%;
    height: 250px;
    margin: auto;
    padding-bottom: 1.875rem;
  }
  .wrapper .sec02 .sec02_sub_title h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 140%;
    padding: 3.188rem 0 0 2.313rem;
  }
  .wrapper .sec02 .sec02_sub_title p {
    font-size: 1rem;
    font-weight: 200;
    padding: 0.5rem 1.5rem 0 2.313rem;
  }
  .wrapper .sec02 .contact_content_right {
    border: 1px solid rgba(153, 153, 153, 0.4);
    background-color: #fffafa;
    border-radius: 10px;
    padding: 3.125rem 3.125rem;
    margin-top: 1.875rem;
  }
  .wrapper .sec02 .btn-square {
    border: 1px solid rgb(22, 102, 66);
    border-radius: 3.125rem;
    padding: 1.438rem 4.625rem;
    background: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .wrapper .sec02 .btn-square:hover {
    background-color: #166642;
  }
  .wrapper .sec02 .btn-square:hover .btn-square__text {
    color: #fff;
  }
  .wrapper .sec02 .form_box__title {
    margin-bottom: 0.625rem;
    margin-top: 1.063rem;
  }
  .wrapper .sec02 .form_box__title p {
    font-size: 1.125rem;
    line-height: 140%;
    font-weight: 600;
    color: #545756;
  }
  .wrapper .sec02 #name {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 0.938rem;
  }
  .wrapper .sec02 #phone_number {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 0.938rem;
  }
  .wrapper .sec02 #e-mail {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 0.938rem;
  }
  .wrapper .sec02 #company {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 0.938rem;
  }
  .wrapper .sec02 #content {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    padding-top: 1.375rem;
    font-weight: 500;
    font-size: 0.938rem;
    overflow-y: scroll;
    resize: none;
  }
  .wrapper .sec02 .inquiry_btn {
    padding: 2rem 9.375rem;
    margin: auto;
    text-align: center;
  }
  .wrapper .sec02 .btn-square__text {
    color: #166642;
    font-weight: 600;
    font-size: 1.375rem;
  }
  .wrapper .sec02 input::placeholder {
    color: #999999;
  }
  .wrapper .sec02 textarea::placeholder {
    color: #999999;
  }
  .wrapper .sec02 span {
    color: #166642;
  }
  .wrapper .sec02 .terms__box {
    height: auto;
    overflow-y: scroll;
    margin-top: 1.063rem;
    margin-bottom: 1.25rem;
  }
  .wrapper .sec02 .terms__agree {
    gap: 0.313rem;
  }
  .wrapper .sec02 .terms__agree input[type=checkbox] {
    accent-color: #1c6343;
  }
  .footer_container {
    margin-top: 0;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.5rem;
  }
  .footer_container .footer_text h2 {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.838rem;
  }
  .footer_container .footer_text p {
    font-size: 0.875rem;
    font-weight: 200;
  }
}
@media (max-width: 376px) {
  .wrapper {
    margin-top: 1.875rem;
  }
  .wrapper .main-banner {
    max-width: 100%;
    height: 230px;
  }
  .wrapper .main-banner .main_title h1 {
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0;
  }
  .wrapper .main-banner .main_title p {
    font-weight: 100;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .wrapper .main-banner .main-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .wrapper .sec02 .sec02_title {
    margin-top: 1.875rem;
    text-align: center;
    margin-bottom: 1.875rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #3c3c3c;
  }
  .wrapper .sec02 .sec02_sub_title {
    display: none;
  }
  .wrapper .sec02 .sec02_sub_title h1 {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 140%;
    padding: 1.188rem 0 0 1.313rem;
  }
  .wrapper .sec02 .sec02_sub_title p {
    font-size: 0.875rem;
    font-weight: 100;
    padding: 0.313rem 0 0 1.313rem;
  }
  .wrapper .sec02 .contact_content_right {
    border: 1px solid rgba(153, 153, 153, 0.4);
    background-color: #fffafa;
    border-radius: 10px;
    padding: 1.125rem 1.5rem;
    margin-top: 0;
  }
  .wrapper .sec02 .btn-square {
    border: 1px solid rgb(22, 102, 66);
    border-radius: 3.125rem;
    padding: 1.2rem 2.625rem;
    background: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .wrapper .sec02 .btn-square:hover {
    background-color: #166642;
  }
  .wrapper .sec02 .btn-square:hover .btn-square__text {
    color: #fff;
  }
  .wrapper .sec02 .form_box__title {
    margin-bottom: 0.625rem;
    margin-top: 1.063rem;
  }
  .wrapper .sec02 .form_box__title p {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 300;
    color: #545756;
  }
  .wrapper .sec02 #name {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 200;
    font-size: 0.875rem;
  }
  .wrapper .sec02 #phone_number {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 200;
    font-size: 0.875rem;
  }
  .wrapper .sec02 #e-mail {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 200;
    font-size: 0.875rem;
  }
  .wrapper .sec02 #company {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    font-weight: 200;
    font-size: 0.875rem;
  }
  .wrapper .sec02 #content {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 1.5rem;
    padding-top: 1.375rem;
    font-weight: 200;
    font-size: 0.875rem;
    overflow-y: scroll;
    resize: none;
  }
  .wrapper .sec02 .inquiry_btn {
    padding: 1rem 1rem;
    margin: auto;
    text-align: center;
  }
  .wrapper .sec02 .btn-square__text {
    color: #166642;
    font-weight: 300;
    font-size: 1.2rem;
  }
  .wrapper .sec02 input::placeholder {
    color: #999999;
  }
  .wrapper .sec02 textarea::placeholder {
    color: #999999;
  }
  .wrapper .sec02 span {
    color: #166642;
  }
  .wrapper .sec02 .terms__box {
    height: auto;
    overflow-y: scroll;
    margin-top: 1.063rem;
    margin-bottom: 1.25rem;
  }
  .wrapper .sec02 .terms__agree {
    gap: 0.313rem;
  }
  .wrapper .sec02 .terms__agree input[type=checkbox] {
    accent-color: #1c6343;
  }
  .wrapper .sec02 .etcterm__row__title p {
    font-weight: 200;
    font-size: 0.875rem;
  }
  .footer_container {
    margin-top: 3.125rem;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.3rem;
  }
  .footer_container .footer_img img {
    width: 18%;
  }
  .footer_container .footer_text h2 {
    font-size: 0.875rem;
    font-weight: 300;
    padding-bottom: 0.628rem;
  }
  .footer_container .footer_text p {
    font-size: 0.75rem;
    font-weight: 200;
  }
}/*# sourceMappingURL=contact.css.map */