@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');
  }
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');
  }
  
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  @import url(https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css);

  @font-face {
    font-family: 'Dancing In The Rain';
    font-style: normal;
    font-weight: normal;
    src: local('Dancing In The Rain'), url('DancingInTheRain-G3M1m.woff') format('woff');
    }
  // font

body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Pretendard';
    position: relative;
    background-color: #FFFAFA;
}
.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 830px;
  width: 100%;
  .navbar {
    font-family: "Poppins", sans-serif;
    min-height: 80px;
    transition: background-color 0.3s ease-in-out; 
  }
  .navbar-brand { 
    padding: 0; 
    height: 40px;
    max-width: 100%;
  }
  .navbar-brand .logo-white {
    display: block;
  }
  .navbar-brand .logo-black {
    display: none;
  }
  .transparent-navbar {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }
  .scrolled-navbar {
    background-color: #FFFAFA;
    border-bottom: 1px solid #ccc;
  }
  .scrolled-navbar .navbar-brand .logo-white {
    display: none;
  }
  .scrolled-navbar .navbar-brand .logo-black {
    display: block;
  }
  .navbar-toggler {
    font-size: 1.25rem;
    &:focus {
    box-shadow: none;
       }
  }
  .nav-link {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  .scrolled-navbar .nav-link{
    color: #3c3c3c;
}
  .nav-link:hover {
    color: #1C6343;
  }
  .nav-item{
    padding-right: 30px;
  }
  .nav-item a{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .main_title h1{
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0.03em;
    }
  .main_title p{
    color: #fff;
    font-weight: 500;
    padding-top: 25px;
    font-size: 25px;
    letter-spacing: 0.03em;
  }
  .main-banner{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    overflow: hidden;
    position: relative;
}
.main-banner {
    background-image: url('../images/contact_main_img.png');
}
.main-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
}
}

.sec02{
    .sec02_title{
        margin-top: 200px;
        text-align: center;
        margin-bottom: 200px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 58px;
        line-height: 140%;
        letter-spacing: 0.03em;
        color: #3c3c3c;
    }
    .sec02_sub_title{
        background-image: url('../images/contact_sub_img.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .sec02_sub_title h1{
        font-size: 38px;
        color: #fff;
        line-height: 160%;
        font-weight: 600;
        padding: 51px 24px 0 37px;
    }
    .sec02_sub_title p{
        font-size: 22px;
        color: #fff;
        line-height: 160%;
        font-weight: 400;
        padding: 16px 24px 0 37px;
    }
    .contact_content_right{
        border: 1px solid rgba(153,153,153,.4);
        background-color: #FFFAFA;
        border-radius: 10px;
        padding: 50px 50px;
    }
    .btn-square{
        border: 1px solid rgb(22,102,66);
        border-radius: 50px;
        padding: 23px 74px;
        background: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .btn-square:hover{
      background-color: #166642;
    }
    .btn-square:hover .btn-square__text {
    color: #fff;
  }
    .form_box__title{
      margin-bottom: 10px;
      margin-top: 17px;
    }
    .form_box__title p{
      font-size: 18px;
      line-height: 140%;
      font-weight: 600;
      color: #545756;
    }
    #name{
        width: 526px;
        height: 65px;
        border: 1px solid rgba(211,211,211,.2);
        border-radius: 5px;
        background-color: #F5F5F5;
        padding-left: 24px;
        font-weight: 500;
        font-size: 15px;
    }
    #phone_number{
        width: 526px;
        height: 65px;
        border: 1px solid rgba(211,211,211,.2);
        border-radius: 5px;
        background-color: #F5F5F5;
        padding-left: 24px;
        font-weight: 500;
        font-size: 15px;
    }
    #e-mail{
        width: 526px;
        height: 65px;
        border: 1px solid rgba(211,211,211,.2);
        border-radius: 5px;
        background-color: #F5F5F5;
        padding-left: 24px;
        font-weight: 500;
        font-size: 15px;
    }
    #company{
        width: 526px;
        height: 65px;
        border: 1px solid rgba(211,211,211,.2);
        border-radius: 5px;
        background-color: #F5F5F5;
        padding-left: 24px;
        font-weight: 500;
        font-size: 15px;
    }
    #content{
        width: 526px;
        height: 65px;
        border: 1px solid rgba(211,211,211,.2);
        border-radius: 5px;
        background-color: #F5F5F5;
        padding-left: 24px;
        padding-top: 22px;
        font-weight: 500;
        font-size: 15px;
        overflow-y: scroll;
        resize: none;
    }
    .inquiry_btn{
      padding: 32px 150px;
    }
    .btn-square__text{
      color: #166642;
      font-weight: 600;
      font-size: 22px;
    }
    input::placeholder{
      color: #999999;
    }
    textarea::placeholder{
      color: #999999;
    }
    span{
      color: #166642;
    }
    .terms__box{
      height: 100px;
      overflow-y: scroll;
      margin-top: 17px;
      margin-bottom: 20px;
  }
  .terms__agree {
    gap: 5px;
  }
  .terms__agree input[type="checkbox"]{
    accent-color: #1C6343;
  }
}
.footer_container{
    margin-top: 200px;
  .footer_text{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 17%;

  }
  .footer_img{
    padding-bottom: 30px;

  }
  .footer_text h2{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-family: "Poppins", sans-serif;
    padding-bottom: 15px;
  }
  .footer_text p{
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
  }
  .bg-green{
    background-color: #1C6343;
  }
  .check_marker{
    margin-left: 100px;
  }
}
// footer

