@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../assets/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fffafa;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 830px;
  width: 100%;
}
.wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.wrapper header .bg {
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.wrapper header.mega-menu-active .bg {
  background-color: #ffffff;
}
.wrapper header .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #3c3c3c !important;
  transition: color 0.5s ease-in-out;
}
.wrapper header .logo {
  padding-top: 0.625rem;
}
.wrapper header .dropdown-toggle::after {
  content: none;
}
.wrapper header .dropdown-menu {
  border: none;
  background-color: #fff;
}
.wrapper header .sub-title li {
  list-style: none;
}
.wrapper header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .navbar-nav .nav-item .nav-link:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header a:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .transparent-navbar {
  background-color: transparent;
}
.wrapper header .bg-nav {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .wrapper header .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1001;
    overflow-y: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wrapper header .navbar-collapse .logo {
    margin-bottom: 1rem;
  }
  .wrapper header .navbar-collapse .logo img {
    max-height: 50px;
    width: auto;
  }
  .wrapper header .navbar-collapse .sub-title {
    padding-left: 20.5rem;
  }
  .wrapper header .navbar-collapse .navbar-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #3c3c3c !important;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .wrapper header .navbar-collapse.show {
    transform: translateY(0);
    opacity: 1;
  }
}
@media all and (min-width: 992px) {
  .wrapper header .dropdown-menu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  }
  .wrapper header .dropdown-menu.mega-menu {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .wrapper header .nav-item.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .wrapper header .navbar-light .navbar-nav .nav-link {
    padding-right: 1.875rem;
  }
  .wrapper header .mega-submenu {
    left: 100%;
    top: 0;
    min-width: 25rem;
  }
  .wrapper header .ktm-mega-menu {
    position: static;
  }
  .wrapper header .sub-title {
    position: relative;
    left: 66.5%;
  }
  .wrapper header .m-logo {
    display: none;
  }
}

.title {
  font-size: 58px;
  margin-top: 200px;
  text-align: center;
}

.tab-button-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.tab_btn {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.tab_btn01 {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #d1cfcf;
  border-radius: 50px;
  padding: 19px 79px 19px 79px;
  color: #808080;
}

.tab_btn02 {
  background-color: #1c6343;
  color: #fffafa;
  padding: 19px 79px 19px 79px;
  border-radius: 50px;
}

.tab_btn01 h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}

.tab_btn02 h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}

.page-item.active .page-link {
  background-color: #1c6343;
  border-color: #1c6343;
}

.page-link {
  color: #1c6343;
}

.event_box {
  margin-top: 80px;
}

.event-text h3 {
  color: #9c9c9c;
  font-size: 28px;
  font-weight: 600;
}

.event-text h4 {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 28px;
}

.event-text h5 {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 20px;
  margin-top: 26px;
}

.event-text h3,
.event-text h4 {
  display: inline-block;
  vertical-align: top;
}

.event-text h3 {
  margin-right: 14px;
}

.event-text {
  margin-top: 32px;
}

.footer_container {
  margin-top: 200px;
}
.footer_container .footer_text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 30px;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1c6343;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    margin-top: 11rem;
    text-align: center;
  }
  .tab-button-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .tab_btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .tab_btn01 {
    padding: 1.188rem 0.938rem 1.188rem 0.938rem;
    border-radius: 3.125rem;
  }
  .tab_btn02 {
    border-style: solid;
    border-width: 1px;
    border-radius: 3.125rem;
    padding: 1.188rem 0.938rem 1.188rem 0.938rem;
  }
  .tab_btn01 h2 {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
  }
  .tab_btn02 h2 {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
  }
  .event_box {
    margin-top: 3rem;
  }
  .event-text h3 {
    font-size: 1.125rem;
    font-weight: 300;
  }
  .event-text h4 {
    font-weight: 400;
    font-size: 1.375rem;
  }
  .event-text h5 {
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .event-text h3,
  .event-text h4 {
    display: inline-block;
    vertical-align: top;
  }
  .event-text h3 {
    margin-right: 0.875rem;
  }
  .event-text {
    margin-top: 2rem;
  }
  .footer_container {
    margin-top: 3.125rem;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.5rem;
  }
  .footer_container .footer_text h2 {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.838rem;
  }
  .footer_container .footer_text p {
    font-size: 0.875rem;
    font-weight: 200;
  }
}
@media (max-width: 376px) {
  .title {
    font-size: 1.125rem;
    margin-top: 5rem;
    text-align: center;
  }
  .tab-button-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .tab_btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .tab_btn01 {
    color: #fffafa;
    padding: 1.188rem 0rem 1.188rem 0rem;
    border-radius: 3.125rem;
  }
  .tab_btn02 {
    border-style: solid;
    border-width: 1px;
    border-color: #d1cfcf;
    border-radius: 3.125rem;
    padding: 1.188rem 0rem 1.188rem 0rem;
    color: #808080;
  }
  .tab_btn01 h2 {
    font-size: 0.875rem;
    font-weight: 200;
    text-align: center;
  }
  .tab_btn02 h2 {
    font-size: 0.875rem;
    font-weight: 200;
    text-align: center;
  }
  .event_box {
    margin-top: 3rem;
  }
  .event-text h3 {
    color: #9c9c9c;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .event-text h4 {
    color: #3c3c3c;
    font-weight: 400;
    font-size: 1.375rem;
  }
  .event-text h5 {
    color: #9c9c9c;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .event-text h3,
  .event-text h4 {
    display: inline-block;
    vertical-align: top;
  }
  .event-text h3 {
    margin-right: 0.3rem;
  }
  .event-text {
    margin-top: 1rem;
  }
  .footer_container {
    margin-top: 3.125rem;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.3rem;
  }
  .footer_container .footer_img img {
    width: 18%;
  }
  .footer_container .footer_text h2 {
    font-size: 0.875rem;
    font-weight: 300;
    padding-bottom: 0.628rem;
  }
  .footer_container .footer_text p {
    font-size: 0.75rem;
    font-weight: 200;
  }
}/*# sourceMappingURL=event_end.css.map */