@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../assets/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
}
body img {
  cursor: pointer;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 830px;
  width: 100%;
}
.wrapper .navbar {
  font-family: "Poppins", sans-serif;
  min-height: 80px;
}
.wrapper .navbar-brand {
  padding: 0;
  height: 40px;
  max-width: 100%;
}
.wrapper .bg-nav {
  background-color: #fffafa;
  border-bottom: 1px solid #ccc;
}
.wrapper .transparent-navbar {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;
}
.wrapper .navbar-toggler {
  font-size: 1.25rem;
}
.wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.wrapper .nav-link {
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}
.wrapper .nav-link:hover {
  color: #1c6343;
}
.wrapper .nav-item {
  padding-right: 30px;
}
.wrapper .nav-item a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.title {
  font-size: 3.625rem;
  margin-top: 12.5rem;
  text-align: center;
}

.tab-button-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.tab_btn {
  margin-top: 3.125rem;
}

.tab_btn01 {
  background-color: #1c6343;
  color: #fffafa;
  padding: 1.188rem 4.938rem 1.188rem 4.938rem;
  border-radius: 3.125rem;
}

.tab_btn02 {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #d1cfcf;
  border-radius: 3.125rem;
  padding: 1.188rem 4.938rem 1.188rem 4.938rem;
  color: #808080;
}

.tab_btn01 h2 {
  font-size: 1.625rem;
  font-weight: 400;
  text-align: right;
}

.tab_btn02 h2 {
  font-size: 1.625rem;
  font-weight: 400;
  text-align: left;
}

.event_box {
  margin-top: 5rem;
}

.event-text h3 {
  color: #9c9c9c;
  font-size: 1.75rem;
  font-weight: 600;
}

.event-text h4 {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 1.75rem;
}

.event-text h5 {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 1.625rem;
}

.event-text h3,
.event-text h4 {
  display: inline-block;
  vertical-align: top;
}

.event-text h3 {
  margin-right: 0.875rem;
}

.event-text {
  margin-top: 2rem;
}

.footer_container {
  margin-top: 12.5rem;
}
.footer_container .footer_text {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 1.875rem;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.938rem;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1c6343;
}/*# sourceMappingURL=event.css.map */