@import url(https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css);
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url(pre/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url(pre/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(pre/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url(pre/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url(pre/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url(pre/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url(pre/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url(pre/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url(pre/Pretendard-Thin.woff) format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Dancing In The Rain";
  font-style: normal;
  font-weight: normal;
  src: local("Dancing In The Rain"), url("DancingInTheRain-G3M1m.woff") format("woff");
}
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 830px;
  width: 100%;
}
.wrapper .navbar {
  font-family: "Poppins", sans-serif;
  min-height: 80px;
}
.wrapper .navbar-brand {
  padding: 0;
  height: 40px;
  max-width: 100%;
}
.wrapper .bg-nav {
  background-color: #FFFAFA;
  border-bottom: 1px solid #ccc;
}
.wrapper .transparent-navbar {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;
}
.wrapper .navbar-toggler {
  font-size: 1.25rem;
}
.wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.wrapper .nav-link {
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}
.wrapper .nav-link:hover {
  color: #1C6343;
}
.wrapper .nav-item {
  padding-right: 30px;
}
.wrapper .nav-item a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.title {
  font-size: 58px;
  margin-top: 200px;
  text-align: center;
}

.tab-button-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.tab_btn {
  margin-top: 50px;
}

.tab_btn01 {
  background-color: #1C6343;
  color: #FFFAFA;
  padding: 19px 79px 19px 79px;
  border-radius: 50px;
}

.tab_btn02 {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #D1CFCF;
  border-radius: 50px;
  padding: 19px 79px 19px 79px;
  color: #808080;
}

.tab_btn01 h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}

.tab_btn02 h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}

.event_box {
  margin-top: 80px;
}

.event-text h3 {
  color: #9C9C9C;
  font-size: 28px;
  font-weight: 600;
}

.event-text h4 {
  color: #3c3c3c;
  font-weight: 700;
  font-size: 28px;
}

.event-text h5 {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 20px;
  margin-top: 26px;
}

.event-text h3,
.event-text h4 {
  display: inline-block;
  vertical-align: top;
}

.event-text h3 {
  margin-right: 14px;
}

.event-text {
  margin-top: 32px;
}

.footer_container {
  margin-top: 200px;
}
.footer_container .footer_text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 30px;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1C6343;
}/*# sourceMappingURL=event.css.map */