@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../assets/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fffafa;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 830px;
  max-width: 100%;
}
.wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.wrapper header .bg {
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.wrapper header.mega-menu-active .bg {
  background-color: #ffffff;
}
.wrapper header .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #3c3c3c !important;
  transition: color 0.5s ease-in-out;
}
.wrapper header .logo {
  padding-top: 0.625rem;
}
.wrapper header .dropdown-toggle::after {
  content: none;
}
.wrapper header .dropdown-menu {
  border: none;
  background-color: #fff;
}
.wrapper header .sub-title li {
  list-style: none;
}
.wrapper header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .navbar-nav .nav-item .nav-link:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header a:focus {
  outline: none;
  box-shadow: none;
}
.wrapper header .transparent-navbar {
  background-color: transparent;
}
.wrapper header .bg-nav {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .wrapper header .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1001;
    overflow-y: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wrapper header .navbar-collapse .logo {
    margin-bottom: 1rem;
  }
  .wrapper header .navbar-collapse .logo img {
    max-height: 50px;
    width: auto;
  }
  .wrapper header .navbar-collapse .sub-title {
    text-align: center;
  }
  .wrapper header .navbar-collapse .navbar-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
  }
  .wrapper header .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #3c3c3c !important;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .wrapper header .navbar-collapse.show {
    transform: translateY(0);
    opacity: 1;
  }
}
@media all and (min-width: 992px) {
  .wrapper header .dropdown-menu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  }
  .wrapper header .dropdown-menu.mega-menu {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .wrapper header .nav-item.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .wrapper header .navbar-light .navbar-nav .nav-link {
    padding-right: 1.875rem;
  }
  .wrapper header .mega-submenu {
    left: 100%;
    top: 0;
    min-width: 25rem;
  }
  .wrapper header .ktm-mega-menu {
    position: static;
  }
  .wrapper header .sub-title {
    position: relative;
    left: 66.5%;
  }
  .wrapper header .m-logo {
    display: none;
  }
}
.wrapper .main-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 650px;
  overflow: hidden;
  background-image: url("../images/sec04_img_01.png");
}
.wrapper .main-banner .main_title p {
  color: #fff;
  font-weight: 600;
  padding-top: 1.875rem;
  font-size: 2.5rem;
  letter-spacing: 0.03em;
}
.wrapper .top-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-image: url("../images/sec04_img_02.png");
}
.wrapper .top-banner .main_title p {
  color: #fff;
  font-weight: 600;
  padding-top: 1.875rem;
  font-size: 2.5rem;
  letter-spacing: 0.03em;
}
.wrapper .top-banner .logo {
  width: 100%;
}
.wrapper .main-banner .main_content {
  padding: 0;
  position: relative;
  z-index: 1;
}
.wrapper .top-banner .main_content {
  padding: 0;
  position: relative;
  z-index: 1;
}

.sec02 .tab_buttons_wrap {
  margin-top: 6.25rem;
}
.sec02 .tab_buttons_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.375rem;
}
.sec02 .tab-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.sec02 .tab-button-link:hover {
  transform: translateY(-5px);
}
.sec02 .tab_btn01,
.sec02 .tab_btn02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sec02 .tab_btn01 {
  background-color: #f5f6f8;
}
.sec02 .tab_btn02 {
  background-color: #1c6343;
}
.sec02 .tab-button-link img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.sec02 .tab-button-link:hover img {
  transform: scale(1.05);
}

.sec03 .nav-tabs {
  justify-content: center;
  border-bottom: none;
  padding: 6.25rem 0 3.125rem 0;
}
.sec03 .nav-tabs li:nth-child(1n+2) {
  border-left: 1px solid #999;
  padding: 0;
}
.sec03 .nav-item {
  padding: 0;
}
.sec03 .nav-tabs li a.nav-link {
  border: none;
  border-radius: 0;
  color: #999;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0 1.875rem;
  white-space: nowrap;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-color: transparent;
  justify-content: center;
}
.sec03 .nav-tabs li a.nav-link:hover {
  color: #8d6734;
  border-color: transparent;
}
.sec03 .nav-tabs li a.nav-link.active {
  color: #8d6734;
  font-weight: 700;
  background-color: transparent;
  border-bottom: none;
}

.sec04 .product_title {
  text-align: center;
}
.sec04 .product_title h1 {
  font-size: 1.875rem;
  color: #3c3c3c;
  font-weight: 600;
  padding-top: 3.125rem;
}
.sec04 .product_title p {
  font-size: 1.375rem;
  color: #999;
  font-weight: 500;
  padding: 1.25rem 0 3.125rem 0;
}
.sec04 .product_explain h1 {
  font-size: 20px;
  color: #999;
  font-weight: 500;
  line-height: 200%;
}
.sec04 .product_explain h5 {
  font-size: 1.12rem;
  color: #999;
  font-weight: 400;
  line-height: 200%;
}
.sec04 .product_explain p {
  font-size: 1.12rem;
  color: #999;
  font-weight: 400;
  line-height: 200%;
}
.sec04 .p-t-40 {
  padding-top: 2.5rem;
}

.footer_container {
  margin-top: 12.5rem;
}
.footer_container .footer_text {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 1.875rem;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.938rem;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1c6343;
}
.footer_container .check_marker {
  margin-left: 6.25rem;
}

@media (max-width: 768px) {
  .wrapper .main-banner,
  .wrapper .top-banner {
    max-width: 100%;
    height: 500px;
  }
  .wrapper .main-banner .main_title p,
  .wrapper .top-banner .main_title p {
    font-weight: 200;
    padding-top: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .wrapper .main-banner .logo,
  .wrapper .top-banner .logo {
    width: 100px;
  }
  .wrapper .main-banner .main-banner .main_content,
  .wrapper .top-banner .main-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .wrapper .main-banner .top-banner .main_content,
  .wrapper .top-banner .top-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .sec02 .tab_buttons_wrap {
    margin-top: 3.25rem;
  }
  .sec02 .tab_buttons_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
  }
  .sec02 .tab-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    flex-shrink: 0;
    transition: all 0.3s ease;
  }
  .sec02 .tab-button-link:hover {
    transform: translateY(-5px);
  }
  .sec02 .tab_btn01,
  .sec02 .tab_btn02 {
    width: 100%;
    height: 100%;
  }
  .sec02 .tab-button-link img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .sec02 .tab-button-link:hover img {
    transform: scale(1.05);
  }
  .sec03 .nav-tabs {
    justify-content: center;
    border-bottom: none;
    padding: 3.25rem 0 1.125rem 0;
  }
  .sec03 .nav-tabs li:nth-child(1n+2) {
    border-left: 1px solid #999;
    padding: 0;
  }
  .sec03 .nav-item {
    padding: 0;
  }
  .sec03 .nav-tabs li a.nav-link {
    border: none;
    border-radius: 0;
    color: #999;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0.5rem;
    white-space: nowrap;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    justify-content: center;
  }
  .sec03 .nav-tabs li a.nav-link:hover {
    color: #8d6734;
    border-color: transparent;
  }
  .sec03 .nav-tabs li a.nav-link.active {
    color: #8d6734;
    font-weight: 200;
    background-color: transparent;
    border-bottom: none;
  }
  .sec04 .product_title {
    text-align: center;
  }
  .sec04 .product_title h1 {
    font-size: 1.125rem;
    color: #3c3c3c;
    font-weight: 300;
    padding-top: 1.875rem;
  }
  .sec04 .product_title p {
    font-size: 0.875rem;
    color: #999;
    font-weight: 200;
    padding: 0.25rem 0 2.125rem 0;
  }
  .sec04 .product_explain h1 {
    font-size: 1rem;
    color: #999;
    font-weight: 300;
    line-height: 140%;
  }
  .sec04 .product_explain h5 {
    font-size: 0.875rem;
    color: #999;
    font-weight: 200;
    line-height: 140%;
  }
  .sec04 .product_explain p {
    font-size: 0.875rem;
    color: #999;
    font-weight: 200;
    line-height: 140%;
  }
  .sec04 .p-t-40 {
    padding-top: 2.5rem;
  }
  .footer_container {
    margin-top: 3.125rem;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.5rem;
  }
  .footer_container .footer_text h2 {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.838rem;
  }
  .footer_container .footer_text p {
    font-size: 0.875rem;
    font-weight: 200;
  }
}
@media (max-width: 376px) {
  .wrapper .main-banner,
  .wrapper .top-banner {
    max-width: 100%;
    height: 230px;
    margin-top: 30px;
  }
  .wrapper .main-banner .main_title p,
  .wrapper .top-banner .main_title p {
    font-weight: 100;
    padding-top: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
  }
  .wrapper .main-banner .logo,
  .wrapper .top-banner .logo {
    width: 80px;
  }
  .wrapper .main-banner .main-banner .main_content,
  .wrapper .top-banner .main-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .wrapper .main-banner .top-banner .main_content,
  .wrapper .top-banner .top-banner .main_content {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .sec02 .tab_buttons_wrap {
    margin-top: 1.875rem;
  }
  .sec02 .tab_buttons_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .sec02 .tab-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    flex-shrink: 0;
    transition: all 0.3s ease;
  }
  .sec02 .tab-button-link:hover {
    transform: translateY(-5px);
  }
  .sec02 .tab_btn01,
  .sec02 .tab_btn02 {
    width: 100%;
    height: 100%;
  }
  .sec02 .tab-button-link img {
    display: block;
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .sec02 .tab-button-link:hover img {
    transform: scale(1.05);
  }
  .sec03 .nav-tabs {
    justify-content: center;
    border-bottom: none;
    padding: 2.25rem 0 1.125rem 0;
  }
  .sec03 .nav-tabs li:nth-child(1n+2) {
    border-left: 1px solid #999;
    padding: 0;
  }
  .sec03 .nav-item {
    padding: 0;
  }
  .sec03 .nav-tabs li a.nav-link {
    border: none;
    border-radius: 0;
    color: #999;
    font-size: 0.875rem;
    font-weight: 200;
    padding: 0 0.5rem;
    white-space: nowrap;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    justify-content: center;
  }
  .sec03 .nav-tabs li a.nav-link:hover {
    color: #8d6734;
    border-color: transparent;
  }
  .sec03 .nav-tabs li a.nav-link.active {
    color: #8d6734;
    font-weight: 300;
    background-color: transparent;
    border-bottom: none;
  }
  .sec04 .product_title {
    text-align: center;
  }
  .sec04 .product_title h1 {
    font-size: 0.875rem;
    color: #3c3c3c;
    font-weight: 300;
    padding-top: 1.25rem;
  }
  .sec04 .product_title p {
    font-size: 0.75rem;
    color: #999;
    font-weight: 200;
    padding: 0.25rem 0 1.25rem 0;
  }
  .sec04 .product_explain h1 {
    font-size: 0.875rem;
    color: #999;
    font-weight: 300;
    line-height: 140%;
  }
  .sec04 .product_explain h5 {
    font-size: 0.625rem;
    color: #999;
    font-weight: 200;
    line-height: 140%;
  }
  .sec04 .product_explain p {
    font-size: 0.625rem;
    color: #999;
    font-weight: 200;
    line-height: 140%;
  }
  .sec04 .p-t-40 {
    padding-top: 1rem;
  }
  .sec04 .product_img {
    width: 50%;
    margin: auto;
  }
  .footer_container {
    margin-top: 3.125rem;
  }
  .footer_container .footer_text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 4%;
  }
  .footer_container .footer_img {
    padding-bottom: 1.3rem;
  }
  .footer_container .footer_img img {
    width: 18%;
  }
  .footer_container .footer_text h2 {
    font-size: 0.875rem;
    font-weight: 300;
    padding-bottom: 0.628rem;
  }
  .footer_container .footer_text p {
    font-size: 0.75rem;
    font-weight: 200;
  }
}/*# sourceMappingURL=product.css.map */