@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../assets/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../assets/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../assets/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
  background-color: #fffafa;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 830px;
  width: 100%;
}
.wrapper .navbar {
  font-family: "Poppins", sans-serif;
  min-height: 80px;
  transition: background-color 0.3s ease-in-out;
}
.wrapper .navbar-brand {
  padding: 0;
  height: 40px;
  max-width: 100%;
}
.wrapper .navbar-brand .logo-white {
  display: block;
}
.wrapper .navbar-brand .logo-black {
  display: none;
}
.wrapper .transparent-navbar {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}
.wrapper .scrolled-navbar {
  background-color: #fffafa;
  border-bottom: 1px solid #ccc;
}
.wrapper .scrolled-navbar .navbar-brand .logo-white {
  display: none;
}
.wrapper .scrolled-navbar .navbar-brand .logo-black {
  display: block;
}
.wrapper .navbar-toggler {
  font-size: 1.25rem;
}
.wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.wrapper .nav-link {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}
.wrapper .scrolled-navbar .nav-link {
  color: #3c3c3c;
}
.wrapper .nav-link:hover {
  color: #1c6343;
  border-radius: 50px;
  font-weight: 500;
}
.wrapper .nav-item {
  padding-right: 30px;
}
.wrapper .nav-item a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.wrapper .main_title h1 {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  margin: 0;
  letter-spacing: 0.03em;
}
.wrapper .main_title p {
  color: #fff;
  font-weight: 600;
  padding-top: 30px;
  font-size: 40px;
  letter-spacing: 0.03em;
}
.wrapper .main-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 650px;
}
.wrapper .top-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 650px;
}
.wrapper .main-banner {
  background-image: url("../images/sec04_img_01.png");
}
.wrapper .top-banner {
  background-image: url("../images/sec04_img_02.png");
}
.wrapper .main-banner .main_content {
  padding: 0;
  position: relative;
  z-index: 1;
}
.wrapper .top-banner .main_content {
  padding: 0;
  position: relative;
  z-index: 1;
}

.sec02 .tab_buttons_wrap {
  margin-top: 100px;
}
.sec02 .tab_buttons_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}
.sec02 .tab-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.sec02 .tab-button-link:hover {
  transform: translateY(-5px);
}
.sec02 .tab_btn01,
.sec02 .tab_btn02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sec02 .tab_btn01 {
  background-color: #f5f6f8;
}
.sec02 .tab_btn02 {
  background-color: #1c6343;
}
.sec02 .tab-button-link img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.sec02 .tab-button-link:hover img {
  transform: scale(1.05);
}

.sec03 .logo_img {
  padding-top: 200px;
  padding-bottom: 73px;
}
.sec03 .sec03_title {
  text-align: center;
  padding-bottom: 30px;
}
.sec03 .sec03_title h1 {
  font-size: 40px;
  color: #3f2a14;
  line-height: 140%;
  font-weight: 500;
}
.sec03 .line_img {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 56px;
}
.sec03 .paparenthesis_title {
  background: url("../images/skin1004_brand_parentheses.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sec03 .paparenthesis_title p {
  text-align: center;
  font-size: 24px;
  color: #746f64;
  font-weight: 400;
  line-height: 200%;
}

.sec04 .sec04_title {
  padding-top: 200px;
  padding-bottom: 50px;
}
.sec04 .sec04_title {
  font-size: 40px;
  font-weight: 500;
  line-height: 140%;
}
.sec04 .sec04_img {
  width: 100%;
}

.sec05 .sec05_title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 200px;
}
.sec05 .sec05_title h1 {
  font-size: 40px;
  color: #3f2a14;
  line-height: 140%;
  font-weight: 500;
}
.sec05 .line_img {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 56px;
}
.sec05 .paparenthesis_title p {
  text-align: center;
  font-size: 24px;
  color: #746f64;
  font-weight: 400;
  line-height: 200%;
}
.sec05 .circle_img {
  padding: 99px 114px;
  border: 1px solid rgba(128, 116, 93, 0.45);
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec05 .circle_img02 {
  padding: 101px 105px;
  border: 1px solid rgba(128, 116, 93, 0.45);
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec05 .plus_img {
  padding: 135px 49px;
}
.sec05 .wrapper {
  padding-top: 100px;
}
.sec05 .icon_text {
  padding-top: 15px;
}
.sec05 .icon_text h2 {
  font-size: 20px;
  font-weight: 400;
  color: #80745d;
}

.sec06 .sec06_img {
  background: url("../images/skin1004_brand_person_img.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 619px;
}
.sec06 .pt-200 {
  padding-top: 200px;
}
.sec06 .sec06_title {
  text-align: center;
  position: relative;
  z-index: 2;
}
.sec06 span {
  font-size: 40px;
  font-weight: 300;
  color: #fef8ee;
  line-height: 160%;
}
.sec06 .sec06_title h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fef8ee;
  line-height: 160%;
}

.footer_container {
  margin-top: 100px;
}
.footer_container .footer_text {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 17%;
}
.footer_container .footer_img {
  padding-bottom: 30px;
}
.footer_container .footer_text h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}
.footer_container .footer_text p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.footer_container .bg-green {
  background-color: #1c6343;
}
.footer_container .check_marker {
  margin-left: 100px;
}/*# sourceMappingURL=skin1004_brand.css.map */